/.metadata/
JLinkLog.log

/RA6T2_DRIVE/.settings/

/RA6T2_DRIVE/Debug/*

/RA6T2_DRIVE/ra_cfg/*
/RA6T2_DRIVE/ra_gen/*

!/RA6T2_DRIVE/ra/
/RA6T2_DRIVE/ra/*
!/RA6T2_DRIVE/ra/fsp/
/RA6T2_DRIVE/ra/fsp/*
!/RA6T2_DRIVE/ra/fsp/src/
/RA6T2_DRIVE/ra/fsp/src/*
!/RA6T2_DRIVE/ra/fsp/inc/
/RA6T2_DRIVE/ra/fsp/inc/*
!/RA6T2_DRIVE/ra/fsp/inc/instances/
/RA6T2_DRIVE/ra/fsp/inc/instances/*
!/RA6T2_DRIVE/ra/fsp/inc/api/
/RA6T2_DRIVE/ra/fsp/inc/api/*
!/RA6T2_DRIVE/ra/fsp/src/rm_motor_120_driver
/RA6T2_DRIVE/ra/fsp/src/rm_motor_120_driver/*
!/RA6T2_DRIVE/ra/fsp/src/rm_motor_120_driver/rm_motor_120_driver.c
!/RA6T2_DRIVE/ra/fsp/src/rm_motor_120_degree
/RA6T2_DRIVE/ra/fsp/src/rm_motor_120_degree/*
!/RA6T2_DRIVE/ra/fsp/src/rm_motor_120_degree/rm_motor_120_degree.c
!/RA6T2_DRIVE/ra/fsp/src/rm_motor_120_control_hall
/RA6T2_DRIVE/ra/fsp/src/rm_motor_120_control_hall/*
!/RA6T2_DRIVE/ra/fsp/src/rm_motor_120_control_hall/rm_motor_120_control_hall.c
!/RA6T2_DRIVE/ra/fsp/inc/instances/rm_motor_120_control_hall.h
!/RA6T2_DRIVE/ra/fsp/inc/instances/rm_motor_120_degree.h
!/RA6T2_DRIVE/ra/fsp/inc/instances/rm_motor_120_driver.h
!/RA6T2_DRIVE/ra/fsp/inc/api/rm_motor_120_control_api.h
!/RA6T2_DRIVE/ra/fsp/inc/api/rm_motor_120_driver_api.h
!/RA6T2_DRIVE/ra/fsp/inc/api/rm_motor_api.h
!/RA6T2_DRIVE/ra/fsp/inc/api/rm_motor_driver_api.h
!/RA6T2_DRIVE/ra/fsp/inc/api/rm_motor_extension.h







